In [31]:

import os
import numpy
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import requests
import mysql.connector

In [32]:
host = "localhost"
port = 3306
user = "root"
password ="Uva!1819"
database = "sakila"

conn = mysql.connector.connect(
    host=host,
    port=port,
    user=user,
    password=password,
    database=database
)



cursor = conn.cursor()
cursor.execute(f'DROP TABLE IF EXISTS {"movies"}')
cursor.execute("SET session group_concat_max_len=15000;")

command = """
CREATE TABLE movies AS
SELECT
    COUNT(distinct customer.customer_id) AS "Number of Customers Rented",
    film.film_id AS "Movie Rented",
    CAST(AVG(payment.amount) AS DECIMAL(10, 2)) AS "Average Amount Paid", 
    film.rating AS "Rating",
    (category.name) AS "Genre", 
    film.release_year AS "Release Year",
    language.name AS "Language",
    GROUP_CONCAT(actor.first_name, ' ', actor.last_name) AS "Actors"
FROM
    customer
JOIN
    rental ON customer.customer_id = rental.customer_id
JOIN
    payment ON rental.rental_id = payment.rental_id
JOIN
    inventory ON rental.inventory_id = inventory.inventory_id
JOIN
    film  ON inventory.film_id = film.film_id
JOIN 
	language ON film.language_id = language.language_id

JOIN 
	film_category ON film.film_id = film_category.film_id

JOIN 
	category ON film_category.category_id = category.category_id
JOIN
    film_actor ON film.film_id = film_actor.film_id
JOIN
    actor ON film_actor.actor_id = actor.actor_id

GROUP BY
	film.film_id, film.rating, film.release_year, language.name, category.name;
    

"""



try:
    cursor.execute(command)
    conn.commit()
except mysql.connector.Error as err:
    print("Error: {}".format(err))
    conn.rollback()

    
cursor2 = conn.cursor()
cursor2.execute("SELECT * FROM movies")
movies = cursor2.fetchall()
    
df = pd.DataFrame(movies)
df = pd.DataFrame(movies, columns=["Number of Customers Rented", "Movie", "Average Amount Paid", "Rating", "Genre", "Release Year", "Language", "Actors"]);

print(df)

     Number of Customers Rented  Movie Average Amount Paid Rating  \
0                            23      1                1.60     PG
1                             7      2                7.56      G
2                            12      3                3.16  NC-17
3                            22      4                3.99      G
4                            12      5                4.32      G
..                          ...    ...                 ...    ...
950                           7    996                0.99      G
951                           6    997                2.82  NC-17
952                           9    998                1.66  NC-17
953                          17    999                4.34      R
954                          30   1000                6.93  NC-17

           Genre  Release Year Language  \
0    Documentary          2006  English
1         Horror          2006  English
2    Documentary          2006  English
3         Horror          2006  English
4         Family          2006  English
..           ...           ...      ...
950  Documentary          2006  English
951        Music          2006  English
952       Horror          2006  English
953     Children          2006  English
954       Comedy          2006  English

                                                Actors
0    LUCILLE TRACY,CHRISTIAN GABLE,PENELOPE GUINESS...
1    BOB FAWCETT,BOB FAWCETT,MINNIE ZELLWEGER,SEAN ...
2    NICK WAHLBERG,BOB FAWCETT,CAMERON STREEP,RAY J...
3    JODIE DEGENERES,JODIE DEGENERES,OPRAH KILMER,F...
4    MATTHEW CARREY,DUSTIN TAUTOU,MATTHEW LEIGH,MAT...
..                                                 ...
950  JAMES PITT,CHRISTOPHER WEST,MENA HOPPER,ED CHA...
951  SCARLETT BENING,VAL BOLGER,SANDRA KILMER,SCARL...
952  NICK STALLONE,UMA WOOD,WILLIAM HACKMAN,KENNETH...
953  PENELOPE CRONYN,MARY TANDY,CARMEN HUNT,JADA RY...
954  LISA MONROE,IAN TANDY,NICK DEGENERES,LISA MONR...

[955 rows x 8 columns]

In [33]:
movies_csv = r'C:\Users\DS2002\Downloads\archive\imdb_movies.csv'

df_csv = pd.read_csv(movies_csv)

df_csv.head()

#drop extra columns 
df_csv = df_csv.drop(['date_x', 'genre', 'overview', 'crew', 'status', 'orig_title', 'orig_lang', 'revenue'], axis = 1)
df_csv['row_number'] = range(len(df_csv))

print(df_csv.head())

                         names  score     budget_x country  row_number
0                    Creed III   73.0   75000000.0      AU           0
1     Avatar: The Way of Water   78.0  460000000.0      AU           1
2  The Super Mario Bros. Movie   76.0  100000000.0      AU           2
3                      Mummies   70.0   12300000.0      AU           3
4                    Supercell   61.0   77000000.0      US           4

In [34]:
df['row_number'] = range(len(df))
merged_df = pd.merge(df, df_csv, on='row_number', how='inner')
merged_df = merged_df.drop(['row_number'], axis=1)


merged_df.rename(columns={'names': 'Title', 'budget_x':'Budget', 'score':'Score', 'country':'Country'}, inplace=True)

print(merged_df)

     Number of Customers Rented  Movie Average Amount Paid Rating  \
0                            23      1                1.60     PG
1                             7      2                7.56      G
2                            12      3                3.16  NC-17
3                            22      4                3.99      G
4                            12      5                4.32      G
..                          ...    ...                 ...    ...
950                           7    996                0.99      G
951                           6    997                2.82  NC-17
952                           9    998                1.66  NC-17
953                          17    999                4.34      R
954                          30   1000                6.93  NC-17

           Genre  Release Year Language  \
0    Documentary          2006  English
1         Horror          2006  English
2    Documentary          2006  English
3         Horror          2006  English
4         Family          2006  English
..           ...           ...      ...
950  Documentary          2006  English
951        Music          2006  English
952       Horror          2006  English
953     Children          2006  English
954       Comedy          2006  English

                                                Actors  \
0    LUCILLE TRACY,CHRISTIAN GABLE,PENELOPE GUINESS...
1    BOB FAWCETT,BOB FAWCETT,MINNIE ZELLWEGER,SEAN ...
2    NICK WAHLBERG,BOB FAWCETT,CAMERON STREEP,RAY J...
3    JODIE DEGENERES,JODIE DEGENERES,OPRAH KILMER,F...
4    MATTHEW CARREY,DUSTIN TAUTOU,MATTHEW LEIGH,MAT...
..                                                 ...
950  JAMES PITT,CHRISTOPHER WEST,MENA HOPPER,ED CHA...
951  SCARLETT BENING,VAL BOLGER,SANDRA KILMER,SCARL...
952  NICK STALLONE,UMA WOOD,WILLIAM HACKMAN,KENNETH...
953  PENELOPE CRONYN,MARY TANDY,CARMEN HUNT,JADA RY...
954  LISA MONROE,IAN TANDY,NICK DEGENERES,LISA MONR...

                                       Title  Score       Budget Country
0                                  Creed III   73.0   75000000.0      AU
1                   Avatar: The Way of Water   78.0  460000000.0      AU
2                The Super Mario Bros. Movie   76.0  100000000.0      AU
3                                    Mummies   70.0   12300000.0      AU
4                                  Supercell   61.0   77000000.0      US
..                                       ...    ...          ...     ...
950  American Pie Presents: The Book of Love   53.0    7000000.0      US
951                                 Unlocked   75.0   79400000.0      KR
952                                 V/H/S/99   63.0   81800000.0      AU
953                Trolls Holiday in Harmony   72.0   70400000.0      AU
954                              El Infierno   79.0   66100000.0      MX

[955 rows x 12 columns]

In [35]:
import requests


url = "https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page=1&sort_by=popularity.desc"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2Mzg2NTkzN2Q2ODg1NjUxZGZkYmYxMmFiYmY3YWY2ZSIsInN1YiI6IjY1NDEzNmJlNjNlNmZiMDEzYzFkN2M5YyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.pAUmVRNOs3-HYA6DDPujSz78BCmpJbvRpxDlFoWsCuI"
}

response = requests.get(url, headers=headers)


try:
    # Send a GET request to the API
    response = requests.get(url, headers=headers)

    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Parse the JSON response
        data = response.json()
    if response.status_code == 400:
        print(f"Request failed with status code: 400. Bad Request call to the API")
    if response.status_code == 401:
        print(f"Request failed with status code: 401. Your API Key is unauthorized.")
    if response.status_code == 402:
        print(f"Request failed with status code: 401. Your API plan is over quota.")
    if response.status_code == 404:
        print(f"Request failed with status code: 404. The API does not exist.")


except requests.exceptions.RequestException as e:
    print(f"Request error: {e}")

In [36]:
df_API = pd.DataFrame(data['results'])
df_API = df_API.drop(['vote_count', 'video', 'release_date', 'poster_path', 'overview', 'original_title', 'original_language', 'id', 'genre_ids', 'backdrop_path', 'adult'], axis = 1)
df_API.rename(columns={'title': 'Title', 'popularity':'Popularity', 'vote_average':'Vote Average'}, inplace=True)
print(df_API)

    Popularity                                          Title  Vote Average
0     7124.811                        Five Nights at Freddy's           8.5
1     2558.391                                     The Nun II           7.0
2     2473.173                                          Saw X           7.3
3     2315.215                         The Exorcist: Believer           6.1
4     1890.122                                         Fast X           7.2
5     1881.143                                The Equalizer 3           7.3
6     1869.838                                    Retribution           7.0
7     1753.562                                    Expend4bles           6.5
8     1612.907  Mission: Impossible - Dead Reckoning Part One           7.7
9     1536.966                                   Gran Turismo           8.0
10    1231.096                               Sound of Freedom           8.1
11    1036.822                                         Muzzle           6.4
12    1033.351                               Desperation Road           7.5
13     910.234                             Once Upon a Studio           8.6
14     858.829                                           Coco           8.2
15     827.426                              Meg 2: The Trench           6.8
16     819.835                       Uri: The Surgical Strike           7.0
17     752.405                                     Talk to Me           7.2
18     745.588                                   Sila Ay Akin           4.0
19     740.152                                    Blue Beetle           7.0

In [37]:

finalDF = pd.merge(merged_df, df_API, on='Title', how='inner')

print(finalDF)

   Number of Customers Rented  Movie Average Amount Paid Rating   Genre  \
0                           6    125                3.99  NC-17  Travel
1                          23    320                6.08  PG-13     New

   Release Year Language                                             Actors  \
0          2006  English  ANGELA WITHERSPOON,LUCILLE DEE,ANGELA HUDSON,A...
1          2006  English  GOLDIE BRODY,TOM MIRANDA,FAY KILMER,KENNETH TO...

    Title  Score       Budget Country  Popularity  Vote Average
0  Fast X    0.0  340000000.0      US    1890.122           7.2
1    Coco   82.0  175000000.0      AU     858.829           8.2